<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-wrench"></i>
                <h3>Settings</h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <td></td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>API Key:</td>
                        <td><input value="<%- session.user.api_key %>" name="api_key" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>