.main-success-alert {
  position: absolute;
  width: 100%;
  background: #dff0d8;
  opacity: 0.7;
  z-index: 1;
  border-bottom: 1px solid #d6e9c6;
  display: none;
}

.sortable-slide {
  border: 1px solid #D5D5D5;
  line-height: 35px;
  padding: 5px 15px 5px 35px;
  margin-bottom: 10px;
  font-weight: bold;
  background: #fff url('/public/media/img/sort-handle.png') no-repeat 5px center;
  cursor: move;

  .sort-order {
    width: 80px;
    margin: 0;
  }
}

.editor-last-saved {
  padding-right: 10px;
}

.editor-save {
  margin-right: 10px;
}
