body, html {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: Helvetica, Arial;
}

#wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#loading,
#error {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -100px;
  vertical-align: text-bottom;
  display: none;

  background: #fff;
}

.slide-container {
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.spiced-carousel,
.spiced-carousel .inner-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;

  .item {
    float: left;
  }
}