<%- include includes/head.ejs %>
<%- include includes/header.ejs %>
<%- include includes/menu.ejs %>
<div class="main" id="wrap">
    <div class="main-inner">
        <div class="container">
            <%- body %>
        </div>
    </div>
</div>

<% if(typeof success != "undefined" && success != null && success.length > 0) { %>
<script type="text/javascript">
    $(document).ready(function() {
        $.showSuccess('<%= success.join("\n") %>');
    });
</script>
<% } %>

<%- include includes/footer.ejs %>
