<div class="row">
    <div class="span8">
        <div class="widget">
            <div class="widget-content">
                    <% if (!screen.slides.length) { %>
                        <h6>No slides attached to this screen</h6>
                    <% } else { %>

                        <% screen.slides.forEach(function(slide) { %>
                            <div class="sortable-slide" data-id="<%= slide._id %>" style="<%if (slide.visible == 0) { %>opacity: 0.5<% } %>">
                                <%= slide.name %>

                                <span style="float: right">

                                    <a class="btn btn-danger" href="/admin/screens/<%- screen._id %>/slides/<%- slide._id %>/delete" onclick="return confirm('Are you sure?');">
                                        <i class="icon-trash"></i>
                                    </a>

                                    <% if (slide.visible == 0) { %>
                                    <a class="btn btn-info" href="/admin/screens/<%- screen._id %>/slides/<%- slide._id %>/visible/1">
                                        <i class="icon-eye-open"></i>
                                    </a>
                                    <% } else { %>
                                    <a class="btn btn-inverse" href="/admin/screens/<%- screen._id %>/slides/<%- slide._id %>/visible/0">
                                        <i class="icon-eye-close"></i>
                                    </a>
                                    <% } %>

                                    <a href="/admin/screens/<%- screen._id %>/slides/edit/<%- slide._id %>" class="btn btn-success">
                                        <i class="icon-wrench"></i>
                                    </a>
                                </span>
                            </div>
                        <% }) %>

                    <% } %>
            </div>
        </div>
    </div>

    <div class="span4">
        <h2>Screen: <%= screen.name %></h2>
        <p>
            <h6>A screen is a group of slides. If you have multiple monitors and you want to show different slides on each monitor, then you can do so by creating multiple screens.</h6>
        </p>

        <a class="btn btn-primary" href="/admin/screens/<%- screen._id %>/slides/new">Create new slide</a>


        <div class="widget" style="margin-top: 10px;">
            <div class="widget-header"> <i class="icon-tasks"></i>
                <h3>Manual override</h3>
            </div>

            <div class="widget-content">
                By using the manual override, you can force the monitor to show only one screen.

                <table class="table" style="margin-top: 10px">
                    <tr>
                        <td style="border: 0">Slide:</td>
                        <td style="border: 0">
                            <select name="slideId" style="width: 100%">
                            <% screen.slides.forEach(function(slide) { %>
                                <option value="<%- slide._id %>"><%= slide.name %></option>
                            <% }) %>
                            </select>
                        </td>
                    </tr>
                </table>

                <button class="btn btn-primary" id="show-slide">Show</button>
                <button class="btn btn-inverse" id="resume-slide">Resume</button>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.widget-content').sortable({
            update: function(event, ui) {
                var items = $('.widget-content').children('.sortable-slide[data-id]');
                var data = { slides: {} };

                for (var i = 0; i < items.length; i++) {
                    var item = $(items[i]);
                    var id = item.attr('data-id');

                    data.slides[id] = i;
                }

                $.post('/admin/screens/<%- screen._id %>/slides/sort_order', data);
            }
        });

        $('#resume-slide').click(function() {
            $.get('/api/screen/<%- screen._id %>/nextSlide', function() {});
        });

        $('#show-slide').click(function() {
            $.post('/api/screen/<%- screen._id %>/showSlide', {slideId: $('select[name=slideId]').val()}, function() {});
        });
    });
</script>