<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3>New screen</h3>
            </div>
            <div class="widget-content">

                <% if (errors.length > 0) { %>
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <% errors.forEach(function(error) { %>
                        <%= error %>
                    <% }) %>
                </div>
                <% } %>

                <form id="new-slide" class="form-horizontal" method="post">
                    <fieldset>
                        <!-- Name -->
                        <div class="control-group">
                            <label class="control-label" for="name">Name:</label>
                            <div class="controls">
                                <input type="text" class="span6" name="name" id="name" />
                            </div>
                        </div>

                        <!-- Type -->
                        <div class="control-group">
                            <label class="control-label" for="type">Type:</label>
                            <div class="controls">
                                <select name="type" id="type">
                                    <% slideTypes.forEach(function(slideType) { %>
                                        <option value="<%- slideType.id %>"><%= slideType.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn" href="/admin/screens/<%- screenId %>/slides">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>