<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="/public/media/js/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/public/media/css/compiled/screen.css" rel="stylesheet" />

    <!-- Scripts -->
    <script>var server_url = '<%- server_url %>';</script>
    <script>var screen_id = '<%- screen_id %>';</script>
    <script src="/public/media/js/jquery-1.7.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/media/js/screen.js"></script>
    <script src="/public/media/js/spiced.slider.js"></script>
</head>
<body>

<div id="error"></div>
<div id="wrapper" class="spiced-carousel">
    <div class="inner-wrapper">
        <div class="slide-container item loading-slide"></div>
    </div>
</div>



</body>
</html>