<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-list-alt"></i>
                <h3>Edit user: <%= user.name %></h3>
            </div>
            <div class="widget-content">

                <% if (errors.length > 0) { %>
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <% errors.forEach(function(error) { %>
                    <%= error %>
                    <% }) %>
                </div>
                <% } %>

                <form id="new-slide" class="form-horizontal" method="post">
                    <fieldset>
                        <!-- Name -->
                        <div class="control-group">
                            <label class="control-label" for="name">Name:</label>
                            <div class="controls">
                                <input type="text" class="span6" name="name" id="name" value="<%= user.name %>" />
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="control-group">
                            <label class="control-label" for="username">Username:</label>
                            <div class="controls">
                                <input type="text" class="span6" name="username" id="username" value="<%= user.username %>" />
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="control-group">
                            <label class="control-label" for="password">Password:</label>
                            <div class="controls">
                                <input type="password" class="span6" name="password" id="password" />
                            </div>
                        </div>

                        <!-- Role -->
                        <div class="control-group">
                            <label class="control-label" for="role">Role:</label>
                            <div class="controls">
                                <select name="role" class="span6">
                                    <option value="user">User</option>
                                    <option value="admin" <%= user.role == 'admin' ? 'selected="selected"' : '' %>>Admin</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a class="btn" href="/admin/users">Cancel</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>