<div class="row">
    <div class="span12">
        <div class="widget">

            <div class="widget-header">
                <i class="icon-user"></i>
                <h3>Users</h3>
            </div>

            <div class="widget-content">

                <div class="pull-right" style="margin-bottom: 10px;">
                    <a class="btn btn-success" href="/admin/users/new">
                        <i class="icon-plus"></i>
                        New user
                    </a>
                </div>

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th class="td-actions" style="width: 150px"> </th>
                    </tr>
                    </thead>

                    <tbody>
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td><%= user.name %></td>
                            <td><%= user.username %></td>
                            <td><%= user.role ? user.role : 'user' %></td>

                            <td class="td-actions" style="text-align: right">
                                <a href="/admin/users/edit/<%- user._id %>" class="btn btn-primary">
                                    <i class="icon-pencil"></i>
                                </a>

                                <% if (users.length > 1) { %>
                                <a href="/admin/users/delete/<%- user._id %>" class="btn btn-danger">
                                    <i class="icon-trash"></i>
                                </a>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>