<form id="screen-add" action="/admin/screens/add" method="post">
    <div class="control-group">
        <label class="control-label" for="name">Screen name</label>
        <div class="controls">
            <input type="text" id="name" name="name" value="" />
            <p class="help-block">A screen name is to help you identify which screen is being shown.</p>
        </div>
    </div>

    <hr />

    <div class="control-group">
        <label class="control-label" for="rotateSpeed">Rotate speed (<strong>in seconds</strong>)</label>
        <div class="controls">
            <input type="text" id="rotateSpeed" name="rotateSpeed" value="10" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<div class="alert alert-error" <%- errors.length == 0 ? 'style="display: none"' : '' %>>
    <button type="button" class="close" data-dismiss="alert">×</button>
    <% errors.forEach(function(error) { %>
        <%= error %>
    <% }) %>
</div>