<div class="row">
    <div class="span8">
        <div class="widget">
            <div class="widget-header"> <i class="icon-list-alt"></i>
                <h3>Screens</h3>
            </div>

            <div class="widget-content">
                <% if(screens.length == 0) { %>
                    <h6>No screens defined</h6>
                <% } else { %>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Rotate speed</th>
                        <th class="td-actions"> </th>
                        <th class="td-actions"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <% screens.forEach(function(screen) { %>
                        <tr>
                            <td><%= screen._id %></td>
                            <td><%= screen.name %></td>
                            <td><%= screen.rotateSpeed || 10 %></td>
                            <td class="td-actions">
                                <a href="/screen/<%= screen._id %>" class="btn btn-small btn-primary"><i class="icon-external-link"></i> Show</a>
                                <a href="/admin/screens/delete/<%= screen._id %>" class="btn btn-danger btn-small"><i class="icon-remove"> </i> Remove</a>
                                <a href="/admin/screens/edit/<%= screen._id %>" class="btn btn-small"><i class="icon-pencil"></i> Edit</a>
                            </td>
                            <td class="td-actions">
                                <a href="/admin/screens/<%= screen._id %>/slides" class="btn btn-small"><i class="icon-list-alt"></i> Slides</a>
                            </td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
                <% } %>
            </div>
        </div>
    </div>

    <div class="span4">
        <h2>Screens</h2>
        <h6>A screen is a group of slides. If you have multiple monitors and you want to show different slides on each monitor, then you can do so by creating multiple screens.</h6>
        <hr />

        <div class="widget">
            <div class="widget-header"> <i class="icon-plus"></i>
                <h3>New screen</h3>
            </div>

            <div class="widget-content">
                <%- include form_add.ejs %>
            </div>
        </div>
    </div>
</div>