<div class="row">
    <div class="span12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-wrench"></i>
                <h3>Edit slide: <%= slide.name %></h3>
                <div class="pull-right editor-save">
                    <span class="editor-last-saved"><strong>Last save:</strong> <span class="editor-last-saved-time">Never</span></span>
                    <button class="btn btn-primary" id="save">Save</button>
                </div>
            </div>
            <div class="widget-content">

                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#edit-html" data-toggle="tab">app.html</a>
                            </li>

                            <li>
                                <a href="#edit-js" data-toggle="tab">app.js</a>
                            </li>

                            <li>
                                <a href="#edit-css" data-toggle="tab">app.css</a>
                            </li>

                            <li>
                                <a href="#additional-files" data-toggle="tab">Additional files</a>
                            </li>
                        </ul>


                        <div class="tab-content">
                            <div class="tab-pane active" id="edit-html">
                                <textarea name="editor_html" id="editor_html"><%= data.html %></textarea>
                            </div>

                            <div class="tab-pane" id="edit-js">
                                <textarea name="editor_js" id="editor_js"><%= data.js %></textarea>
                            </div>

                            <div class="tab-pane" id="edit-css">
                                <textarea name="editor_css" id="editor_css"><%= data.css %></textarea>
                            </div>

                            <div class="tab-pane" id="additional-files">
                                <div class="row">

                                    <!-- List all uploaded files -->
                                    <div class="span8">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>File name</th>
                                                <th>Path</th>
                                                <th class="td-actions"></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <% files.forEach(function(file) { %>
                                                <tr>
                                                    <td><%= file.name %></td>
                                                    <td><input value="<%= file.path %>" class="input-xlarge" /></td>
                                                    <td>
                                                        <a href="/admin/screens/<%- slide.screen %>/slides/deletefile/<%- slide._id %>?file=<%= file.name %>" class="btn btn-danger btn-small" onclick="return confirm('Are you sure?');">
                                                            <i class="icon-trash"></i>
                                                        </a>

                                                        <a href="<%- file.path %>" class="btn btn-info btn-small" target="_blank">
                                                            <i class="icon-external-link"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            <% }) %>

                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- Upload additional files -->
                                    <div class="span3">
                                        <div class="widget">
                                            <div class="widget-header">
                                                <i class="icon-upload"></i>
                                                <h3>Upload additional files</h3>
                                            </div>
                                            <div class="widget-content">
                                                <form id="form1" enctype="multipart/form-data" method="post" action="/admin/screens/<%- slide.screen %>/slides/upload/<%- slide._id %>">
                                                    <input type="file" name="fileToUpload" id="fileToUpload" /> <br />

                                                    <button type="submit" class="btn btn-success">
                                                        <i class="icon-upload"></i>
                                                        Upload
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var hasChanged = false;

    function editorContentChanged() {
        hasChanged = true;
    }

    ace.require("ace/ext/language_tools");

    var editor_html = ace.edit("editor_html");
    editor_html.on('change', editorContentChanged);
    editor_html.setTheme("ace/theme/monokai");
    editor_html.session.setMode("ace/mode/html");
    editor_html.setAutoScrollEditorIntoView(true);
    editor_html.setOption("maxLines", 100);
    editor_html.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });

    var editor_js = ace.edit("editor_js");
    editor_js.on('change', editorContentChanged);
    editor_js.setTheme("ace/theme/monokai");
    editor_js.session.setMode("ace/mode/javascript");
    editor_js.setAutoScrollEditorIntoView(true);
    editor_js.setOption("maxLines", 100);
    editor_js.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });

    var editor_css = ace.edit("editor_css");
    editor_css.on('change', editorContentChanged);
    editor_css.setTheme("ace/theme/monokai");
    editor_css.session.setMode("ace/mode/css");
    editor_css.setAutoScrollEditorIntoView(true);
    editor_css.setOption("maxLines", 100);
    editor_css.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: false
    });

    $(document).ready(function() {
        $(document).keydown(function(event) {
                    // If Control or Command key is pressed and the S key is pressed
                    // run save function. 83 is the key code for S.
                    if((event.ctrlKey || event.metaKey) && event.which == 83) {
                        $('#save').trigger('click');
                        event.preventDefault();
                        return false;
                    }
                }
        );

        $('#save').click(function() {

            $.post('', { html: editor_html.getValue(), js: editor_js.getValue(), css: editor_css.getValue() }, function() {
                $.showSuccess('Saved!');

                hasChanged = false;

                // Show the last saved time
                $('.editor-last-saved-time')
                        .attr('title', new Date().toISOString())
                        .timeago();
            })
            .fail(function() {
                alert('Failed to save!');
            });
        });

        window.onbeforeunload = confirmExit;
        function confirmExit()
        {
            if (hasChanged) {
                return "You have unsaved changed. \nLeaving or refreshing the page will remove all unsaved changes.";
            }
        }
    });
</script>