<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard - Bootstrap Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link href="/public/media/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/media/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="/public/media/css/font-awesome.css" rel="stylesheet">
    <link href="/public/media/css/style.css" rel="stylesheet">
    <link href="/public/media/css/pages/dashboard.css" rel="stylesheet">

    <% if (typeof styles != 'undefined' && styles.length > 0) { %>
        <% styles.forEach(function(style) { %>
    <link href="<%= style.href %>" rel="<%= style.rel %>" />
        <% }); %>
    <% } %>

    <link href="/public/media/css/compiled/admin.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Javascript -->
    <script src="/public/media/js/jquery-1.7.2.min.js"></script>
    <script src="/public/media/js/jquery-ui.min.js"></script>
    <script src="/public/media/js/bootstrap.js"></script>
    <script src="/public/media/js/base.js"></script>
    <script src="/public/media/js/admin.js"></script>

    <% if (typeof scripts != 'undefined' && scripts.length > 0) { %>
        <% scripts.forEach(function(script) { %>
    <script src="<%= script.src %>"></script>
        <% }); %>
    <% } %>
</head>

<body>