<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">

            <ul class="mainnav">
                <li class="<%= activeMenu == 'dashboard' ? 'active' : '' %>">
                    <a href="/admin"><i class="icon-dashboard"></i><span>Dashboard</span></a>
                </li>

                <li class="<%= activeMenu == 'screens' ? 'active' : '' %>">
                    <a href="/admin/screens"><i class="icon-globe"></i><span>Screens</span></a>
                </li>

                <% if(session.user.role == 'admin') { %>
                <li class="<%= activeMenu == 'users' ? 'active' : '' %>">
                    <a href="/admin/users"><i class="icon-user"></i><span>Users</span></a>
                </li>
                <% } %>
            </ul>

        </div>
    </div>

    <div class="main-success-alert alert-success">
        <div class="container">
            <h2 class="message"></h2>
        </div>
    </div>

</div>